//
   Created by Daniele on 11/08/2015.

extends layout
block content
    form(name='compila')
        table.table-bordered
            thead
                tr
                    th Squadra 1
                    th Squadra 2
                    th Gol 1
                    th Gol 2
                    th Gol 1
                    th Gol 2
                    th Jolly
                    th Tot gol
                    th Tot gol
                    th Jolly
                    th Segno
                    th Segno
                    th Jolly
            tbody
                - each item in htab
                    tr
                        td= item.sq_casa
                        td= item.sq_away
                        td
                            input(type="text" , name="G1-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_casa}")
                        td
                            input(type="text" , name="G2-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_away}")
                        td
                            input(type="text" , name="G3-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_casa2}")
                        td
                            input(type="text" , name="G4-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_away2}")
                        td
                            input(type="text" , name="G5-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_gol}")
                        td
                            input(type="text" , name="G6-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_n_gol}")
                        td
                            input(type="text" , name="G7-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_n_gol2}")
                        td
                            input(type="text" , name="G8-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_ng}")
                        td
                            input(type="text" , name="G9-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_segno}")
                        td
                            input(type="text" , name="G10-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_segno2}")
                        td
                            input(type="text" , name="G11-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_segno}")
        button.btn-success#btnSubmit(type="submit") Salva