//
   Created by Daniele on 11/08/2015.

extends layout
block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascript/comptab.js')
    form(name='compila', onsubmit='return checkSubmit()', method='post', action='/salvapron')
        table.table-bordered
            thead
                tr
                    th.col-sm-2 Squadra 1
                    th.col-sm-2 Squadra 2
                    th.col-sm-2 Gol 1
                    th.col-sm-2 Gol 2
                    th.col-sm-2 Gol 1
                    th.col-sm-2 Gol 2
                    th.col-sm-2 Jolly
                    th.col-sm-2 Tot gol
                    th.col-sm-2 Tot gol
                    th.col-sm-2 Jolly
                    th.col-sm-2 Segno
                    th.col-sm-2 Segno
                    th.col-sm-2 Jolly
            tbody
                - each item in htab
                    tr
                        td= item.sq_casa
                        td= item.sq_away
                        td
                            input.G1(type="text" , name="G1-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_casa}")
                        td
                            input.G2(type="text" , name="G2-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_away}")
                        td
                            input.G3(type="text" , name="G3-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_casa2}")
                        td
                            input.G4(type="text" , name="G4-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_g_away2}")
                        td
                            input.G5(type="text" , name="G5-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_gol}")
                        td
                            input.G6(type="text" , name="G6-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_n_gol}")
                        td
                            input.G7(type="text" , name="G7-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_n_gol2}")
                        td
                            input.G8(type="text" , name="G8-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_ng}")
                        td
                            input.G9(type="text" , name="G9-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_segno}")
                        td
                            input.G10(type="text" , name="G10-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_segno2}")
                        td
                            input.G11(type="text" , name="G11-#{item.cod_torneo}-#{item.nro_giornata}-#{item.nro_partita}", value="#{item.pr_j_segno}")
        button.btn-success#btnSubmit(type="submit") Salva