//
   Created by Daniele on 02/08/2015.
extends layout
block content
    h1= title
    p #{title} - Classifica
    table
        thead
            tr
                th Squadra
                th Punti
                th Giocate
                th Vinte
                th Pareggi
                th Perse
                th G F
                th G S
                th Dif
        tbody
            - each item in classifica
                tr
                    td= item.nome_squadra
                    td= item.punti
                    td= item.giocate
                    td= item.vinte
                    td= item.pareggiate
                    td= item.perse
                    td= item.gol_fatti
                    td= item.gol_subiti
                    td= item.diff
    script.
        var classif = [
                                  ["", "Kia", "Nissan", "Toyota", "Honda"],
                                  ["2008", 10, 11, 12, 13],
                                  ["2009", 20, 11, 14, 13],
                                  ["2010", 30, 15, 12, 13]
                                ];

        var container = document.getElementById('classificat');
        var hot = new Handsontable(container, { data: classif, minSpareRows: 1,rowHeaders: true,colHeaders: true,contextMenu: true});
    #classificat