extends layout
block content
    p Benvenuto #{user}
block mainbar
    ul
    each user, i in torneo
        li
            a(href="/torneo?tid=#{user.cod_torneo}")= user.descr_torneo
block mainright
    h2 Partite
    div.list-group
    each par, i in calendario
        a.list-group-item(href="/partita?tid=#{par.cod_torneo}&ngio=#{par.nro_giornata}&npar=#{par.nro_partita}")
            h4.list-group-item-heading #{par.sq_home}  VS  #{par.sq_away}
            p.list-group-item-text #{par.descr_torneo}  --  #{par.data_inizio}