extends layout
block content
    h1.text-left Benvenuto #{user}
block mainbar
    h2.text-left I tuoi tornei
    div.panel-group
    each user, i in torneo
        div.panel.panel-default
            div.panel-heading #{user.descr_torneo}
            div.panel-body
                a(href="/torneo?tid=#{user.cod_torneo}") Classifica
block mainright
    h2 Partite
    div.list-group.slist
    each par, i in calendario
        a.list-group-item(href="/partita?tid=#{par.cod_torneo}&ngio=#{par.nro_giornata}&npar=#{par.nro_partita}")
            h4.list-group-item-heading #{par.sq_home}  VS  #{par.sq_away}
            p.list-group-item-text #{par.descr_torneo}  --  #{par.inizio}